<%- include('components/head.ejs') %>

<%- include('components/header.ejs') %>
<section id="login">
  <form action="/login" method="post" data-form="login" class="login">
    <%if(customMessage){%>
      <p><%= customMessage_%></p>
    <%}%>
    <%if(errors){%>
      <h2>Your input is not valid yet. We provided a list of possible problems.</h2>
      <ul class="errors">
      <% errors.forEach((elem)=>{%>
        <li><%= elem.msg_%></li>
      <%})%>
      </ul>
    <%}%>


    <%if(typeof messages != "undefined"){%>
      <%if(Array.isArray(messages.warning)){ %>
        <ul>
        <%
          for(let i = 0; i < messages.warning.length; i++){
            if(messages.warning.msg){ %>
              <%= messages.warning[i].msg%>
           <% }else{
        %>
        <%= messages.warning[i] %>
      <% }}
      %></ul>

      <% } else{%>
        <%= messages.warning %>
      <%}%>
    <%
    } %>
      
   
    <fieldset>
        <legend>Login</legend>
        <label for="username">Username
          <input id="username" name="username" type="email" required placeholder="Enter your e-mailadress here" maxlength="40">
        </label>
        <label for="password">Password
          <input id="password" name="password" type="password" required placeholder="Enter a password here">
        </label>
      <button class="primary" type="submit">Login</button>
   </fieldset>
  </form>
</section>
<%- include('components/footer.ejs') %>